#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
ul{
  list-style: none;
  font-size: x-large;
}
.ToDo{
  height: 1em;
  width: 1em;
  display: inline-flex;
  cursor: pointer;
  background-image: url(icons/Todo.png);
  background-size: 25px;
}
.Done{
  height: 1em;
  width: 1em;
  display: inline-flex;
  cursor: pointer;
  background-size: 25px;
  background-image: url(icons/Erledigt.png);
}