#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  color: azure;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
ul{
  list-style: none;
  font-size: x-large;
}
.ToDo{
  height: 1.1em;
  width: 1em;
  display: inline-flex;
  cursor: pointer;
  background-image: url(icons/Todo.png);
  background-size: 25px;
}
.Done{
  height: 1em;
  width: 1em;
  display: inline-flex;
  cursor: pointer;
  background-size: 25px;
  background-image: url(icons/Erledigt.png);
}

.toggle{
  visibility: hidden;
}
.label{
  background-color: grey;
  width: 80px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: background-color 0.3s;
}
.toggle:checked + .label{
  background-color: gold;
}
.toggle:checked + .label .ball{
  animation: slideOn 0.3s linear forwards;
}
.ball{
  background-color: black;
  width: 35px;
  height: 35px;
  border-radius: 50px;
  position: absolute;
  top: 2.5px;
  left:1.5px;
  animation: slideOff 0.3s linear forwards;
}

@keyframes slideOn{
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.1);
    background-color: #505050;
  }
  100%{
    transform: translateX(40px) scale(1);
    background-color: azure;
  }
}
@keyframes slideOff{
  0% {
    transform: translateX(40px) scale(1);
    background-color: azure;
  }
  50% {
    transform: translateX(20px) scale(1.1);
    background-color: #505050;
  }
  100%{
    transform: translateX(0px) scale(1);
  }
}
#userInput{
  width: 225px;
  height:35px;
  text-align: center;
  border: 1px solid inherit;
  border-radius: 50px;
  color: inherit;
  background-color: transparent;
  transition: filter 0.25s,border-color 0.25s;
}
#userInput:hover{
  border-color: #242424;
  filter: invert(50%);
}
#userInput:focus,
#userInput:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button {
  min-width: 200px;
  border-radius: 50px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  margin-left: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color:inherit;
  background-color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #8f8f93;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}